---
layout: default
title: Impressum
section_id: impressum
---
<!--
<div class='full parallax' style='background-image: url(images/@stock/about-us.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Impressum" color="#fff" tagline="Know something about our team" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>
-->

<div class='full'>
  <div class='row'>
    <div class='twelve columns'>
      <h3>Impressum</h3>
      <p>
      Angaben gemäß § 5 TMG
      <br/>
      <br/>
      Jan Algermissen<br/>
      Solutions Engineering<br/>
      <br/>
      Büro-/Postanschrift<br/>
      Melkerstieg 4<br/>
      22559 Hamburg<br/>
      <br/>
      Vertreten durch:<br/>
      Jan Algermissen<br/>
      <br/>
      Kontakt:<br/>
      Mobil: +49 (0) 15154725268<br/>
      E-Mail: algermissen@acm.org<br/>
      <br/>
      <!--
      Umsatzsteuer-ID:<br/>
      Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: xxx<br/>
      -->
      </p>

      <p>
      Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:<br/>
      <br/>
      Jan Algermissen<br/>
      Melkerstieg 4</br>
      22559 Hamburg</br>
      </p>

      <p>
      Haftungsausschluss:<br/>
<br/>
Haftung für Inhalte<br/>
<br/>
Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.<br/>
<br/>
Haftung für Links<br/>
<br/>
Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.<br/>
<br/>
Urheberrecht<br/>
<br/>
Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
      </p>
      <p>
      Datenschutz<br/>
      <br/>
      Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.<br/>
      <br>
      Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.<br/>
      <br>
Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
</p>
    </div>
    <!--
    <div class='medium-6 columns'>
      <h3>Our skills</h3>
      <div class='mod modBarGraph'>
        <ul class='bars'>
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
                <strong>{{skill.percentage}}%</strong>
              </h4>
              <p class='highlighted' data-percent='{{skill.percentage}}'></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    -->
  </div>
</div>

