<div class='full parallax' style='background-image: url(images/@stock/customers-bg.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Always On Site" color="#fff" %}
      <div class='spacing'></div>
      <p>
      I provide consulting services from my Hamburg office or on site.
      </p>
      <p>
      Jan Algermissen<br />
      Melkerstieg 4<br />
      22559 Hamburg<br />
      </p>
      <p>
      Tel: +49 (0) 15154725268<br />
      Email: algermissen@acm.org<br />
      </p>
      <div class='spacing'></div>
    </div>
  </div>
  <!--
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modClients' data-slides_to_show='4'>
        <div class='clients'>
          {% for client in site.data.clients %}
            <div><img alt="" src="{{client.image}}" /></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
  -->
</div>
